body{
		font-family: Helvetica, arial, sans-serif;
		font-size: 30px;
		color: #404040;
		text-align: center;
		background-image: url(http://fc08.deviantart.net/fs70/i/2011/037/d/4/free_use__pink_background_by_rannethepikachu_77-d38ziiv.jpg);
		background-repeat: repeat;
		margin:0px;
	}

	#title {
		color: white;
		background-color: indigo;
		padding: 10px;
		display: inline-block;
		border: 5px solid indigo;
		border-radius: 50px;
	}

	#description{
		color: purple;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		font-size: 50px;
		background-color: white;
		border-radius: 100px;
		border: 5px solid purple;
		padding: 20px;
		width: 1000px;
	}
	#middle{
	height: 350px;
}
button{
	color:white;
	background-color:indigo;
	font-size: 50px;
	border-radius:50px;
	padding: 20px;

}
button:hover{
	background-color:purple;
}





	
